.hero-banner {
    background-image: url('https://dummyjson.com/public/img/meta.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .hero-overlay {
    background-color: rgba(88, 87, 87, 0.5); 
    height: 100%;
    width: 100%;
    display: flex;
  }
  